@{
    ViewData["Title"] = "Home Page";
}
    
    <div class="text-center">
        <h1 class="display-4">Welcome To Trash Collector</h1>
        <h4 class="display-5">We Are Here To Serve You</h4>
        
        
        <img src="~/images/trash.jpg" alt="Trash Truck" />
    </div>
